<?xml version="1.0"?>
<model>
  <name>raicom_recon_arena</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ROS Developer</name>
    <email>robot@example.com</email>
  </author>
  <description>
    Gazebo arena for the RAICOM intelligent reconnaissance task.
  </description>
</model>
